<%= form_with model: @profile do |f| %>
  <% if @profile.errors.any? %>
    <div class="errors-explanation">
      <h3>
        <%= pluralize(@profile.errors.count, 'error') %>
        got in the way of saving your profile:
      </h3>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-info">
    <%= f.label :info, 'About Me:'%>
    <%= f.text_area :info %>
  </div>
    <%= f.hidden_field :profile_picture_path, value: @profile_picture || current_user.profile.profile_picture_path %>
    <%= f.submit 'Save Profile' %>
<% end %>
