<div id="<%= dom_id post %>">
  <strong>Author:</strong>
    <%= post.user.name%>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Comments:</strong><br>
    <% post.comments.each do |comment| %>
      <%= comment.user.name %> commented:<br>
      <%= comment.body %>
    <% end %>
  </p>

  <% if like = post.likes.find { |like| like.user == current_user }%>
    <%= button_to '❤️', like_path(like.id), method: :delete %>
  <% else %>
    <%= form_with model: @like do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.submit '🖤' %>
    <% end %>
  <% end %>
    <div class="likes">❤️ <%= post.likes.size%></div>
</div>
