  <div class="post">
    <div class="post-image-container">
      <% if post.image_url %>
        <img src="<%= post.image_url %>" alt="">
      <% else %>
        <%= post.body %>
      <% end %>
    </div>
    <div class="post-info">
      <div class="profile-image-container">
        <% if post.user.profile %>
          <%= image_tag post.user.profile.profile_picture_path %>
        <% else %>
          <div class="fake-profile-image"></div>
        <% end %>
      </div>
      <div class="post-text">
        <div>
          <div class="post-title"><strong><%= post.title %></strong></div>
          <div class="post-author"><%= post.user.name %></div>
        </div>
        <% if @post %>
          <div class="likes">
            <div class="like-button">
              <% if @liked  %>
                <%= button_to 'â¤ï¸', like_path(@liked), method: :delete %>
              <% else %>
                <%= button_to 'ðŸ–¤', likes_path(user_id: current_user, post_id: @post.id), method: :post %>
              <% end %>
            </div>
            <div class="like-count"><%= @post.likes.count %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
