<h1>Recent Posts</h1>


Liked Posts:<br>
<% @liked_posts.each do |post| %>
  <%= post.title %><br>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-infos">
        <%= render post %>
        <%= link_to "Show this post", post %>
        <% if @liked_posts.include?(post) %>
          <% like = Like.find_by(user_id: current_user.id, post_id: post.id) %>
          <%= button_to 'â¤ï¸', like_path(like.id), method: :delete %>
        <% else %>
          <%= form_with model: @like do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.submit 'ðŸ–¤' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
