<div class="single-post-display"><%= render @post %></div>

<% if @post.user == current_user %>
  <%= link_to "Edit this post", edit_post_path(@post) %>
  <%= button_to "Delete Post", @post, method: :delete %>
<% end %>

<h2><%= @post.comments.count %> Comments</h2>
<div class="comment-form">
  <%= form_with model: @comment do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_field :body %>
    <%= f.submit 'Publish Comment' %>
  <% end %>
</div>
<div class="post-comments">
  <% @post.comments.each do |comment| %>
    <%= render comment %>
  <% end %>
<div>
