<!DOCTYPE html>
<html>
  <head>
    <title>WeTube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Display sign-out button if some use is logged in %>
    <nav>
      <div class="menu"></div>
      <%= button_to image_tag('home-icon.svg') + 'Home', root_path, method: :get %>
      <%= button_to image_tag('users-icon.svg') + 'Users', users_path, method: :get %>
    </nav>
    <header>
        <div class="logo-section">
          <%= link_to root_path do %>
            <div class="red-square">▶︎</div>
            <div class="text">WeTube</div>
          <% end %>
        </div>
      <div class="search">
        <%= form_tag '/', method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: 'Search' %>
          <div class="search-button"><%= submit_tag '', src: asset_path('search-ic.svg'), type: 'image' %></div>
        <% end %>
      </div>
      <div class="user">
        <% if current_user && current_user.profile %>
          <div class="dropdown" data-controller='toggle' data-toggle-show-class='visible'>
            <button data-action='toggle#display_menu'>
              <%= image_tag(session[:profile_picture], class: 'profile-picture') %>
            </button>
            <div class='dropdown-menu'>
              <div class='profile-section'>
                  <%= image_tag(current_user.profile.profile_picture_path, class: 'profile-picture') %>
                <div class="profile-text">
                  <%= current_user.name %>
                  <%= link_to 'View your profile', profile_path(current_user.profile.id), method: :get %>
                </div>
              </div>
              <div class="signout-section">
                <%= button_to image_tag('signout-icon.svg') + 'Sign out', destroy_session_path(current_user), method: :delete %>
              </div>
            </div>
          </div>
        <% else %>
          <%= button_to 'Create Profile', new_profile_path, method: :get%>
        <% end %>
      </div>
    </header>
    <main>
      <% if flash[:notice] %>
        <p class='notice'> <%= flash[:notice] %></p>
      <% elsif flash[:alert] %>
        <p class='alert'> <%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
