<!DOCTYPE html>
<html>
  <head>
    <title>WeTube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Display sign-out button if some use is logged in %>
    <% if current_user %>
      <%= button_to 'Sign-out', destroy_session_path(current_user), method: :delete %>
    <% end %>

    <%# Create a p for the flashes with apropriate class %>
    <% if flash[:notice] %>
      <p class='notice'> <%= flash[:notice] %></p>
    <% elsif flash[:alert] %>
      <p class='alert'> <%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
